build_release/*
!build_release/.keep

cmake-build-debug/*

build_debug/*
!build_debug/.keep

external/*
!external/.keep

examples/*
!examples/.keep

lib/*
!lib/.keep

.cache
.cache/*

compile_commands.json

.idea/

.vs/

cmake-build-debug

build

CMakeSettings.json